body{
    background-color:#f5f5f5;
}
#nav-header {
    font-family: 'Cairo', sans-serif;
    font-size: 150%;
}
#profile
{
    font-size: 120%;
    color: white;
    font-family: 'Cairo', sans-serif;
}
#name
{
    color: white;
    padding-left: 5px;
    padding-right: 20px;
}
#logout
{
    font-size: 100%;
}

#person
{
    margin-bottom: 10px;
}
#backCont
{
    font-size: 130%;
    color: #00b8d4;
    font-family: 'Cairo', sans-serif;
    padding-left: 2%;
    margin-top: 2%;
}

#doc-name
{
    font-size: 130%;
    color: #757575;
    padding: 0px;
    font-family: 'Cairo', sans-serif;
}
#InputName
{
    font-size: 130%;
    color: #757575;
    width: 200px;
}

#doctext {
    height: 100vh;
    alignment: center;
    width: 350%;
    font-size: 130%;
    font-family: 'Cairo', sans-serif;
}
#text-container
{
    float:left;
    margin-left: 25%;
}
#users
{
    float:left;
    padding-bottom: 100%;
    width: 15%;
    margin-left: 44%;
    font-family: 'Cairo', sans-serif;
    color: #00b8d4;
    padding-right: 0px;
    font-size: 130%;
}
#head-users {
    font-size: 100%;
    color: #757575;
}
