body
{
    background-color:#ffffff;
    font-size: 150%;
    font-family: 'Cairo', sans-serif;

}

#authForm
{
    background-color: #424242;
    margin-top: 25vh;
    color: white;
    width:450px;
    height: 1000px;
    border-radius: 25px;
    padding: 50px;
    padding-right: 150px;
}

.form-group
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    width: 150%;
}

button
{
    margin-bottom: 3px;
    font-size: 100%;
    width: 150%;
    font-family: 'Cairo', sans-serif;
    margin-top: 50px;
}
#submit
{

    margin-top: 100px;
    font-size: 150%;
    font-family: 'Cairo', sans-serif;
}

#errorssage
{
    font-size: 85%;

    font-family: 'Cairo', sans-serif;
}
#sucmessage
{
    font-size: 85%;
    font-family: 'Cairo', sans-serif;
}