
body{
    background-color:#f5f5f5;

}
#nav-header {
    font-family: 'Cairo', sans-serif;
    font-size: 150%;
}
#profile
{
    font-size: 120%;
    color: white;
    font-family: 'Cairo', sans-serif;
}
#name
{
    color: white;
    padding-left: 5px;
    padding-right: 20px;
    font-family: 'Cairo', sans-serif;
}
#logout
{
    font-size: 100%;
}

#person
{
    margin-bottom: 10px;
}
#doc-container
{
    background-color:#ffffff;
    height: 100vh;
}
#documents
{
    color: #757575;
    margin-left: 23%;
    padding-bottom: 0px;
    font-size: 150%;
    padding-top: 2%;
    font-family: 'Cairo', sans-serif;
}
td{
    font-size: 120%;
    font-family: 'Cairo', sans-serif;
}

tr :first-child {
    width: 0;
    white-space: nowrap;
}

tr :last-child {
    width: 100%;
}

#link
{
    color: black;
    text-decoration: none;
}
h0
{
    font-size: 120%;
    color: #757575;
}

#plus
{

    margin-right: 10px;
    color: #757575;
    padding-bottom: 10px;
    font-size: 125%;
}